[user]
	name = Cedric TESNIERE
	email = tesniere.cedric@gmail.com
[core]
	excludesfile = "~/.gitignore_global"
	editor = subl -n -w
[pull]
	rebase = true
[push]
	default = nothing
[color]
	status = true
	diff = true
	ui = true
[log]
	abbrevCommit = true
[alias]
	# status
	st = status -sb
	stqtus = status -sb
	## diff between HEAD local and remote, ex : git new | git new origin/master
	new = !sh -c 'git log --stat $1@{1}..$1@{0} "$@"'

	# branch
	br = branch -vv -a
	co = checkout
	cob = checkout -b

	# check
	fetchall = fetch --all --tag --prune

	# Log
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset' --date=short
	lg = log --pretty=oneline --abbrev-commit
	who = shortlog -sne
	dic = diff --cached
	diffstat = diff --stat

	# Annuler le dernier commit
	undo = git reset --soft HEAD^

	# Commit
	ci = commit
	
	# Rewriting history
	amend = commit --amend
	fixup = "!sh -c '(git diff-files --quiet ||  (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && git rebase -i --autosquash $COMMIT~1' -"
	rh = "!f() { git reset --hard $1; }; f"
	## Interactive rebase with the given number of latest commits
	reb = "!f() { git rebase -i HEAD~$1; }; f"

	# Gitk
	k = !gitk --all&

	# Search
	## Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"
	## Find tags containing commit
	ft = "!f() { git describe --always --contains $1; }; f"
	## Find commits by source code
	fcs = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	## Find commits by commit message
	fmsg = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --no-merges --grep=$1; }; f"
	## Search commits by author
	whois = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --author=\"$1\"; }; f"

[credential]
	helper = osxkeychain
[rerere]
	enabled = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[grep]
	extendedRegexp = true